<h4>Your Order:</h4>
<table class="table table-condensed table-hover table-striped">
  <thead>
    <tr>
      <th>Pizza</th>
      <th>Price</th>
      <th>Qnt</th>
    </tr>
  </thead>
  <tbody>
    <% total_price = 0%>
    <% total_qnt = 0%>
    <% @orders.each do |i|%>
      <tr>
        <td>  <%= i[0].title %></td>
        <td>  <%= i[0].price %></td>
        <td>  <%= i[1] %></td>
      </tr>
      <% total_price += i[0].price * i[1].to_i%>
      <% total_qnt += i[1].to_i%>
    <%end%>
    <tr>
      <td></td>
      <td> <strong> <%= total_price %></strong> rub</td>
      <td> <strong><%= total_qnt %></strong> </td>
    </tr>
  </tbody>
</table>
<hr>
<div class="col-md-4">
  <div class="row">
    <form action="/order" method="post">
      <input type="hidden" name="order[products]" id="orders_form">
      <div class="form-group">
        <input type="text" class="form-control well" name="order[name]" placeholder="Name" >
      </div>
      <div class="form-group">
        <input type="text" class="form-control well" name="order[phone]" placeholder="Phone" >
      </div>
      <div class="form-group">
        <input type="text" class="form-control well" name="order[address]" placeholder="Address" >
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Order</button>
    </form>
  </div>
</div>
