<h2>Welcome to PizzaShop</h2>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="/pizza/<%= product.title %>"> <img src="<%= product.path_to_image %>"></a>
        <div class="caption">
          <h4><a href="/pizza/<%= product.title %>"><%= product.title %> Pizza</a>   <span class="label label-default">New</span></h4>
          <p><%= product.price %> rub.</p>
          <button class="btn btn-primary" onClick="add_to_cart(<%= product.id %>)"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to cart</button>
        </div>
      </div>
    </div>
  <% end%>
</div>
<script type="text/javascript">
  $(function () {
    update_orders_input();
  })
</script>
