<h3><%= @pizza.title %> Pizza!!</h3>
<img src="<%= @pizza.path_to_image %>" alt="..." class="img-circle">
<p><%= @pizza.description %></p>
<p><%= @pizza.price %> Rub.</p>
<p><%= @pizza.size %> cm</p>
<p><%= @pizza.is_spicy %></p>
<p><%= @pizza.is_veg %></p>
<p><%= @pizza.is_best_offer %></p>
